# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
.venv/
__pycache__/

# Environments & Secret Keys
.env
*.env
backend/.env

# Build outputs & Databases
dist/
*.db
banksarthi.db

# Logs & OS files
*.log
.DS_Store
Thumbs.db
